body {
    font-family: "Montserrat", sans-serif;
}

form {
    width: 50%;
    margin: 10px;
}



fieldset {
    border: 2px solid lightgrey;
    border-radius: 4px;
    margin: 10px;
}

label, textarea, button {
    display: block;
}

label {
    margin: 20px 0;
}
