body {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

legend {
    font-weight: 600;
}

form {
    width: 50%;
    margin: 10px;
}

fieldset {
    border: 2px solid lightgrey;
    border-radius: 4px;
    margin: 10px;
}

label, textarea, button {
    display: block;
}

label {
    margin: 20px 0;
}

input {
    margin-left: 10px;
    margin-right: 10px;
}

textarea {
    margin-top: 10px;
}

button {
    border: none;
    padding: 10px;
    border-radius: 5px;
}